<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>

    <% if (typeof message !== 'undefined' && message) { %>
        <p style='color:red;'><%= message %></p>
    <% } %>

    <form action='/signup' method='POST'>
        <label for="name">Name:</label><br>
        <input type='text' id="name" name='name' required><br><br>
        
        <label for="email">Email:</label><br>
        <input type='email' id="email" name='email' required><br><br>
        
        <label for="password">Password:</label><br>
        <input type='password' id="password" name='password' required><br><br>

        <label for="age">Age:</label><br>
        <input type='number' id="age" name='age'><br><br> <button type='submit'>Sign Up</button>
    </form>
    <br>
    <a href='/login'>Already have an account? Login</a><br><br>
     <a href='/bookingRequest'>Booking Request</a>
</body>
</html>